// Ionic Variables and Theming. For more info, please see:
// http://ionicframework.com/docs/theming/

// Font path is used to include ionicons,
// roboto, and noto sans fonts
$font-path: "../assets/fonts";


// The app direction is used to include
// rtl styles in your app. For more info, please see:
// http://ionicframework.com/docs/theming/rtl-support/
$app-direction: ltr;


@import "ionic.globals";


// Shared Variables
// --------------------------------------------------
// To customize the look and feel of this app, you can override
// the Sass variables found in Ionic's source scss files.
// To view all the possible Ionic variables, see:
// http://ionicframework.com/docs/theming/overriding-ionic-variables/




// Named Color Variables
// --------------------------------------------------
// Named colors makes it easy to reuse colors on various components.
// It's highly recommended to change the default colors
// to match your app's branding. Ionic uses a Sass map of
// colors so you can add, rename and remove colors as needed.
// The "primary" color is the only required color in the map.

$colors: (
  primary:    #488aff,
  secondary:  #32db64,
  danger:     #f53d3d,
  light:      #f4f4f4,
  dark:       #222,
  LightRedTU:  #E14025,
  LightGreenTU: #A9D161,
  LightOrangeTU: #F17123,
  CreamTU: #fff9d9,
  HSLLighPrimary1TU: hsl(193, 98%, 38%),
  HSLLighPrimary2TU: hsl(51, 100%, 49%),
  HSLWhite: hsl(0, 0%, 100%),
  tu-blue: #00A6CA,
  tu-blue-90: rgba(0, 166, 202, 0.90),
  tu-blue-75: rgba(0, 166, 202, 0.75),
  tu-blue-50: rgba(0, 166, 202, 0.50),
  tu-blue-hover: #008DAC,
  tu-blue-web: #0295BE,
  tu-blue-web-hover: #0081A1,
  tu-yellow: #FCD800,
  tu-yellow-90: rgba(252, 216, 0, 0.90),
  tu-yellow-75: rgba(252, 216, 0, 0.75),
  tu-yellow-50: rgba(252, 216, 0, 0.50),
  tu-yellow-hover: #E0C000,
  tu-red: #D74025,
  tu-green: #008A00,
  tu-orange: #F16E00,
  tu-light-gray: #EDEDED,
  tu-light2-gray: #F7F7F7,
  tu-medium-gray: #DDDDDD,
  tu-dark-gray: #939393

);


// App iOS Variables
// --------------------------------------------------
// iOS only Sass variables can go here




// App Material Design Variables
// --------------------------------------------------
// Material Design only Sass variables can go here




// App Windows Variables
// --------------------------------------------------
// Windows only Sass variables can go here




// App Theme
// --------------------------------------------------
// Ionic apps can have different themes applied, which can
// then be future customized. This import comes last
// so that the above variables are used and Ionic's
// default are overridden.

@import "ionic.theme.default";


// Ionicons
// --------------------------------------------------
// The premium icon font for Ionic. For more info, please see:
// http://ionicframework.com/docs/ionicons/

@import "ionic.ionicons";


// Fonts
// --------------------------------------------------

@import "roboto";
@import "noto-sans";
